// 완주누리체 // font-family: 'TTWanjunuricheR';
@font-face {
   font-family: 'TTWanjunuricheR';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/TTWanjunuricheR.woff2') format('woff2');
}
// 나눔 스퀘어 // font-family:'NanumSquareRound'
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff');

// 색상 팔레트
$mainColor: #E81D36;
$subColor: #0b9da5;
$fontColor: #EFFFE9;
$blackColor: #000000fd;

body{
   overflow: hidden; width: 100vw; height: 100vh;
   background: #000000fd;  color: white;
}
.App {
   font-family: 'NanumSquareRound', sans-serif;
   width: 100%; height: fit-content; overflow-x: hidden; 
   nav { // 최상단 네비메뉴
      position: fixed; top: 0; left: 0; z-index: 20;
      width: 70%; height: 80px; padding: 0 15%;
      display: flex; align-items: center; justify-content: space-between;
      background: #00000060; 
      >a>h3{color: white;}
      ul{
         display: flex; justify-content: center;
         li{padding: 0 20px;
            a {color: #fff; font-size: 20px;}
         }
      }
   }

   
   #Home{
      // 섹션1
      #Section1{
         width: 100%; height: 100vh; margin-bottom: 100px;
         .Section1Slick {
            width: 100%; height: 100%;
            div { // 슬릭 슬라이드 div
               width: 100%; height: 100%; position: relative;
               .mainMessage { // typed 메세지
                  position: absolute; top: 50%; left: 50%;
                  transform: translateX(-50%) translateY(-50%);
                  font-size: 30px; white-space: pre; letter-spacing: -1px;
                  font-family: 'TTWanjunuricheR';
                  background: rgba(29, 27, 27, 0.3); 
                  .typed-cursor {
                     color: rgba(255, 255, 255, 0.8); position: relative; bottom: 0px;
                  }
               }
               img{width: 100%; height: 100%;}
            }
            .slick-dots {
               // 슬라이드 버튼 위치
               position: absolute; bottom: 30px;
               li {
                  button {
                     &::before {
                        font-size: 17px; color: $mainColor;
                     }
                  }
               }
            }
         }
      }
      #Section2{}

      .movieList{ // 영화 리스트
         display: flex; justify-content: center; flex-wrap: wrap;
         h1{text-align: center; width: 100%; margin-bottom: 30px;}
         .Movie{
            width: 350px; height: 570px; margin: 10px; padding: 20px 0;
            background: #fffefe; text-align: center;
            a{
               color: #0b9da5; height: 100%;
               display: flex; flex-direction: column; align-items: center; justify-content: space-around;
               h2{
                  text-align: center; font-size: 21px;
               }
               img{width: 70%;}
               p{
                  height: 20px; display: flex; align-items: center;
                  span{
                     >svg{font-size: 30px;}
                  }
               }
            }
         }
      }
   }
   #MovieDetail{ // 영화 상세정보
      background: #3f3e3e33; 
      width: 100%;
      margin: 0 auto; padding:100px 0; text-align: center;
      .Detail1{
         width: 100vw; max-width:1280px ; height: 100vh;
         margin: 0 auto;
         >div{
            .overview{margin: 20px 0;}
            .voteAverage{color: red; font-size: 24px;}
         }
         >h3{ // 영화 포토 보기 버튼
            position: fixed; left: 5%; top: 50%; cursor: pointer;
            display: flex; justify-content: center; align-items: center;
            width: 150px; height: 150px; border-radius: 50%;
            background: blue;
         }
         .modal-content{ // 영화 사진 모달창
            background: white;
            width: 1280px;
            img{width: 1290px; margin: -5px 0;}
         
         }
      }
      .Detail2{
         width: 100vw; max-width:1280px ; height: 100vh;
         margin: 0 auto;}

   }
   #Search{ // 영화 검색 기능
      width: 100vw; height: 100vh;
      display: flex; justify-content: center; align-items: center;
   }
   



   .movie {
      display: flex;
      margin: 0 50px 10px 50px;
      align-items: center;
      padding: 7px;
      justify-content: space-between;
      border: 1px solid #ddd;
      .movie-title {
         flex-grow: 1; color: white;
      }
      .movie-year {
         color: #f00;
         font-size: 0.6rem;
      }
   }
   .lefttext {
      margin-left: 50px;
   }
   form {
      padding: 7px 50px;
      input {
         width: 100%;
         padding: 10px 8px;
         box-sizing: border-box;
         margin-bottom: 5px;
      }
      button {
         width: 100%;
         background: #0b9da5;
         color: #fff;
         padding: 10px;
         border: none;
         margin-bottom: 10px;
      }
      .err {
         color: #f00;
         font-size: 10px;
         margin-bottom: 15px;
      }
   }
}
.moviesWrap {
   height: 100%; margin-top: 80px;
}
